appnope==0.1.0
argon2-cffi==20.1.0
async-generator==1.10
atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
bleach==3.2.1
blis==0.4.1
catalogue==1.0.0
certifi==2020.11.8
cffi==1.14.3
chardet==3.0.4
click==7.1.2
coverage==5.3
cymem==2.0.4
dateparser==0.7.6
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-Cors==3.0.9
fuzzywuzzy==0.8.2
idna==2.10
importlib-metadata==2.0.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
MarkupSafe==1.1.1
mistune==0.8.4
more-itertools==8.6.0
murmurhash==1.0.4
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
nl4dv==0.0.2
nltk==3.5
notebook==6.1.5
numpy==1.19.4
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
plac==0.9.6
pluggy==0.13.1
preshed==3.0.4
prometheus-client==0.8.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.9.0
pycparser==2.20
Pygments==2.7.2
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==3.10.1
pytest-cov==2.6.1
python-dateutil==2.6.1
python-Levenshtein==0.12.0
pytz==2020.4
pyzmq==20.0.0
qtconsole==4.7.7
QtPy==1.9.0
regex==2020.11.13
requests==2.25.0
Send2Trash==1.5.0
si-prefix==1.2.2
six==1.15.0
spacy==2.2.0
srsly==1.0.4
terminado==0.9.1
testpath==0.4.4
thinc==7.1.1
tornado==6.1
tqdm==4.51.0
traitlets==5.0.5
tzlocal==2.1
urllib3==1.26.2
vega==3.4.0
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zipp==3.4.0